.mop{
    margin-left: 110px;
}
.motor{
    margin-top: -15px;
}
.mom{
    margin-left: 90px;
}
.mow{
    margin-left: 70px;
}
.mll{
    margin-top: -15px;
}
.mon{
    margin-left: 115px;
}
.mopo{
    margin-left: 110px;
}
.molu{
    margin-top: -14px;
}
.mopu{
    margin-top: -15px;
}
.mj{
    margin-left: 140px;
}