.mol{
    margin-left: 80px;
    margin-top: -20px;
}
.mot{
    margin-left: 60px;
}
.lol{
    background-color: #2c9343;
}
.not{
    background-color: #a93030;
}
.nol{
    background-color: #0677c5;
}
.nop{
    background-color: #1c7430;
}
.nor{
    background-color: #46474b;
}