.ggle{
    background: linear-gradient(120deg, #e15ee3,purple);
}
.ggl{
    border-radius: 20px;
    background: linear-gradient(120deg, #e15ee3,purple);
}
.gg{
    border-radius: 20px;
}
.x{
    margin-top: 15px;
}
